In [107]:
import sqlite3
from flask import Flask, render_template, jsonify, redirect
import random
import pandas as pd

app = Flask(__name__)
app.debug=True


br_db = sqlite3.connect('bitrate_db')
cursor = br_db.cursor()
# cursor.execute('CREATE TABLE bitrate(Velocity INTEGER, Angle INTEGER, Result TEXT, MSE INTEGER )')
# br_db.commit()

# br_db.commit()
# br_db.close()

In [108]:
def machine_learning():
    angle_list = [random.randint(1, 90) for k in range(100)]
    velocity_list = [random.uniform(0, 1) for k in range(100)]
    moo=pd.DataFrame({'Angles' : angle_list,'Velocity' : velocity_list,}, columns=['Angles','Velocity', 'Result','MSE'])
    moo.to_sql("Kikoken", br_db, if_exists="append")
    moo.head(10)
#pass these to the back end
def store_data():
#retrieve data(S/F batch), store to corresponding , and update ML alg

SyntaxError: unexpected EOF while parsing (<ipython-input-108-c6eb385accb3>, line 9)

In [106]:
# def no_machine_learning():
#     angle_list = [random.randint(1, 90) for k in range(100)]
#     velocity_list = [random.uniform(0, 1) for k in range(100)]
    
angle_list = [random.randint(1, 90) for k in range(1000)]
velocity_list = [random.uniform(0, 20) for k in range(1000)]
success_failure=[random.randint(0, 1) for k in range(1000)]
moo=pd.DataFrame({'Angles' : angle_list,'Velocity' : velocity_list,'Success_Failure' : success_failure,}, columns=['Angles','Velocity', 'Result','MSE'])

moo
value = [0]
target = []
if value[0] in target and (value[1] in target or value [1] target):

moo['Angles']>=45 

#Pass these to the front end

SyntaxError: invalid syntax (<ipython-input-106-9cd5507f1a1e>, line 13)

In [103]:
moo[moo["Angle"] >45]["Success_Failure"]

1

In [8]:
# def drop_table():

cursor.execute('DROP TABLE Kikoken')

In [87]:
angle_list = [random.randint(1, 90) for k in range(1000)]
velocity_list = [random.randint(0, 30) for k in range(1000)]
success_failure=[random.randint(0, 1) for k in range(1000)]
moo=pd.DataFrame({'Angle' : angle_list,'Velocity' : velocity_list,'Success_Failure' : success_failure}, columns=['Angle','Velocity','Success_Failure'])

In [38]:
moo.to_csv('test.csv', header=['angle','velocity','Success_Failure'])

In [88]:
moo.to_json('json4.json', orient='records')

In [41]:
test=pd.read_json('json2.json')

In [51]:
test['Success_Failure']

labels=test['Success_Failure'].values

In [52]:
data = test[['Angle','Velocity']].values

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, labels, random_state=1, stratify= labels)

In [57]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [58]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [59]:
classifier.score(X_train, y_train)

0.51733333333333331

In [60]:
classifier.score(X_test, y_test)

0.49199999999999999

In [61]:
classifier.predict([65, 30])

/Users/michaelcavellero/anaconda/envs/PythonData/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([1])

In [90]:
classifier.predict([[12121, 23], [65, 30]])

<class 'numpy.ndarray'>

In [70]:
newSimulation = [[12121, 23], [65, 30]]

In [71]:
success_guesses = classifier.predict([[12121, 23], [65, 30]])

In [72]:
newSimulation

[[12121, 23], [65, 30]]

In [73]:
success_guesses

array([0, 1])

In [81]:
for num in success_guesses:
    if (num == 1):
        print(num)
        print(newSimulation[num])

1
[65, 30]

In [84]:
for x in range(len(success_guesses)):
    if (success_guesses[x] == 1):
        print(success_guesses[x])
        print(newSimulation[x])

1
[65, 30]

In [89]:
import _pickle as cPickle

In [155]:
stuff= pd.read_csv("test.csv")

In [156]:
stuff = stuff[["angle", "velocity", "Success_Failure"]]

In [157]:
newStuff = stuff[stuff["angle"] > 45]

In [158]:
newStuff["Success_Failure"] = 1

/Users/michaelcavellero/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [159]:
newStuff.head()

   angle  velocity  Success_Failure
0     77        27                1
1     48        12                1
2     62        12                1
3     60         0                1
6     67        18                1

In [160]:
stuff["Success_Failure"] = stuff["angle"] > 45

In [161]:
stuff

     angle  velocity  Success_Failure
0       77        27             True
1       48        12             True
2       62        12             True
3       60         0             True
4       41        24            False
5       32        16            False
6       67        18             True
7       19        20            False
8       78        19             True
9       72         5             True
10      68         0             True
11       2        20            False
12      36        15            False
13      16        17            False
14       2        14            False
15       2        19            False
16      85        20             True
17      16        25            False
18       7        15            False
19      29        21            False
20       1         1            False
21      54        24             True
22      58        11             True
23       4         7            False
24      10         4            False
25      55        18             True
26      72        16             True
27       9        13            False
28      43         3            False
29      87         9             True
..     ...       ...              ...
970     90        26             True
971     59        20             True
972     23        17            False
973     46        10             True
974     28        16            False
975     27        15            False
976     46        15             True
977     22        12            False
978     58        16             True
979     33        17            False
980     24        27            False
981     19        17            False
982     85        18             True
983     31        15            False
984     59        12             True
985     78        18             True
986     75        16             True
987     27        26            False
988     60        18             True
989     24        27            False
990     16        19            False
991     70        24             True
992     11        30            False
993     75        14             True
994     20         8            False
995     31        24            False
996     64         6             True
997     62        14             True
998     65         8             True
999     50        28             True

[1000 rows x 3 columns]

In [141]:
stuff["Success_Failure"].replace("True", 1, inplace=True)

In [140]:
stuff

     angle  velocity  Success_Failure
0       77        27             True
1       48        12             True
2       62        12             True
3       60         0             True
4       41        24            False
5       32        16            False
6       67        18             True
7       19        20            False
8       78        19             True
9       72         5             True
10      68         0             True
11       2        20            False
12      36        15            False
13      16        17            False
14       2        14            False
15       2        19            False
16      85        20             True
17      16        25            False
18       7        15            False
19      29        21            False
20       1         1            False
21      54        24             True
22      58        11             True
23       4         7            False
24      10         4            False
25      55        18             True
26      72        16             True
27       9        13            False
28      43         3            False
29      87         9             True
..     ...       ...              ...
970     90        26             True
971     59        20             True
972     23        17            False
973     46        10             True
974     28        16            False
975     27        15            False
976     46        15             True
977     22        12            False
978     58        16             True
979     33        17            False
980     24        27            False
981     19        17            False
982     85        18             True
983     31        15            False
984     59        12             True
985     78        18             True
986     75        16             True
987     27        26            False
988     60        18             True
989     24        27            False
990     16        19            False
991     70        24             True
992     11        30            False
993     75        14             True
994     20         8            False
995     31        24            False
996     64         6             True
997     62        14             True
998     65         8             True
999     50        28             True

[1000 rows x 3 columns]

In [147]:
stuff["Success_Falure"] = (stuff["angle"] > 45) or (stuff["velocity"] < 20)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [151]:
stuff.loc[(stuff["angle"]>45), "Success_Failure"] =

AttributeError: 'int' object has no attribute 'loc'

In [153]:
import numpy as np

stuff['Success_Failure']= np.where(stuff['angle']>50,1,0)
stuff

TypeError: 'int' object is not subscriptable